fastapi==0.110.0
uvicorn[standard]==0.27.0
python-dotenv==1.0.0
SQLAlchemy==2.0.29
psycopg2-binary==2.9.9
pymongo==4.7.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
PyJWT==2.8.0
google-generativeai==0.3.2
pandas==2.2.2 --prefer-binary
openpyxl==3.1.2
xlrd==2.0.1
transformers==4.40.1  # Older to ensure Linux wheels
datasets==2.18.0
sentence-transformers==2.6.1
scipy==1.12.0
chromadb==0.4.22
celery==5.3.6
redis==5.0.1
flask==3.0.3
slack_sdk==3.27.1
email-validator==2.1.1
Pillow==10.2.0
SpeechRecognition==3.10.0
pydub==0.25.1
gunicorn==21.2.0
